html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	font-size: 20px;
}

body::-webkit-scrollbar {
    background: var(--page-bg);
    width: 8px;
    height: 6px;
}

body::-webkit-scrollbar-thumb {
    border: 2px solid var(--thumb-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumb-hover-color);
	border: none;
}

a:hover,
button:hover {
	opacity: .7;
	transition: all .3s ease-in-out;
}

.btn__promo {
	width: 196px;
	height: 54px;
	border-radius: 30px;
	font-size: 16px;

	&:hover {
		opacity: .7;
		transition: all .3s ease-in-out;
	}
}

.nav-btn {
	width: 54px;
	height: 54px;
	margin-right: -18px;
}

.accent {
	color: var(--accent-color);
}




