/* desktop */
@media (min-width: 1440px) {
	.container {
		width: 1296px;
		margin: 0 auto;
	}
}

/* tablet */
@media (max-width: 1439px) and (min-width: 930px) {
	.container {
		width: 720px;
		margin: 0 auto;
	}
}

/* mobile */
@media (max-width: 929px) {
	.container {
		width: 326px;
		margin: 0 auto;
	}
}