/* desktop */
.container {
		width: 1296px;
		margin: 0 auto;
	}

/* tablet */
@media (max-width: 1439px) {
	.container {
		width: 720px;
		margin: 0 auto;
	}
}

/* mobile */
@media (max-width: 930px) {
	.container {
		width: 326px;
		margin: 0 auto;
	}
}