:root {
	--font-main: 'Philosopher', sans-serif;

	--page-bg: #260C65;
	--menu-bg: #1E0645;
	--text-color: #fff;
	--accent-color: #CDAAF5;
	--thumb-color: #582999;
	--thumb-hover-color: #5E44FC;
	--shadow-color: #2E116B;
	--green-btn-color: linear-gradient(to top, #301D5F -100%, #00FFA3 100%);
	--blue-btn-color: linear-gradient(to top, #250858 -100%, #5E44FC 100%);
	
}