:root {
	--font-main: 'Philosopher', sans-serif;

	--page-bg: #260C65;
	--menu-bg: #1E0645;
	--text-color: #fff;
	--accent-color: #CDAAF5;
	--thumb-color: #582999;
	// --shadow-color: #2E116B;
	--blue-btn-color: #5E44FC;
	
}