:root {
	--font-main: 'Philosopher', sans-serif;

	--page-bg: #260C65;
	--text-color: #fff;
	--accent-color: #CDAAF5;

    // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}