.header {
	margin-top: 28px;
	position: relative;

	&::before {
		content: "";
		position: absolute; 
		top: -28px;
		left: -67px;
		width: 400px;
		height: 1530px;
		background-image: url("./../img/bg/bg_astro-left_01.svg");
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: -20px 0 30px 0 var(--shadow-color);
	}

	&::after {
		content: "";
		position: absolute; 
		top: -28px;
		right: -67px;
		width: 640px;
		height: 1220px;
		background-image: url("./../img/bg/bg_astro-right_01.svg");
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 20px 0 30px 0 var(--shadow-color);
	}
}

.logo,
.nav__list,
.btn__promo,
.nav__mobile-nav {
	z-index: 3;
}

.logo {
	background-image: url('./../img/icons/logo.svg');
	width: 122px;
	height: 44px;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

		&::before {
		content: "";
		position: absolute; 
		top: 30px;
		left: 0;
		width: 540px;
		height: 748px;
		background-image: url("./../img/bg/bg_stars-left_01.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	&::after {
		content: "";
		position: absolute; 
		top: 8px;
		right: -38px;
		width: 719px;
		height: 719px;
		background-image: url("./../img/bg/bg_rect-green-right_01.svg");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
	}
}

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

li {
	padding: 12px;
}

.btn__promo-blue {
	background: var(--blue-btn-color);
}

.nav__mobile-nav {
	display: none;
}

@media (max-width: 1439px) {
	.header {
        margin-top: 25px;

        &::before { 
            top: -25px;
            left: 0;
            width: 340px;
            height: 1365px;
            background-image: url("./../img/bg/tabl-bg_astro-left_01.svg");
        }

        &::after { 
            top: -30px;
            right: 0;
            width: 280px;
            height: 1007px;
            background-image: url("./../img/bg/tabl-bg_astro-right_01.svg");
        }
    }

    .logo {
        background-image: url('./../img/icons/logo_tabl.svg');
        width: 111px;
        height: 40px;
    }

    .header__nav {
        font-size: 14px;

            &::before { 
            top: 52px;
            left: 16px;
            width: 320px;
            height: 466px;
            background-image: url("./../img/bg/tabl-bg_stars-left_01.svg");
        }

        &::after {
            display: none;
        }
    }

    .btn__promo {
        width: 149px;
        height: 36px;
        font-size: 14px;
    }

    .nav__list {
        gap: 16px;
    }

    li {
        padding: 8px;
    }
}

@media (max-width: 930px) {
	.header {
        margin-top: 0;

        &::before { 
            top: -50px;
            left: 0;
            width: 160px;
            height: 800px;
            background-image: url("./../img/bg/mob-bg_astro-left_01.svg") ;
        }

        &::after { 
            top: -12px;
            right: 0;
            width: 133px;
            height: 886px;
            background-image: url("./../img/bg/mob-bg_astro-right_01.svg");
        }
    }

    .logo {
        background-image: url('./../img/icons/logo_mob.svg');
        width: 84px;
        height: 30px;
    }

    .header__nav {
        &::before { 
            content: none;
        }
    }

    .header__nav > :nth-child(3) {
        margin-left: auto; 
        margin-right: 10px; 
    }

    .btn__promo {
        width: 139px;
        height: 34px;
        font-size: 13.5px;
    }

    .nav__list {
        display: none;
    }

    .nav__mobile-nav {
        display: block;
    }
}
