.nav__mobile-nav {
    position: relative;
}

.mobile-nav {
    display: flex;
	flex-direction: column;
	position: relative;
    top: 0;
    right: 0;
    display: none;
    
}

.mobile-nav.open {
    display: block;
}

.nav-btn__close {
    height: 55px;
    background-color: var(--menu-bg);
}

.mobile-nav__list {
    position: absolute;
    right: 0;
    top: 54px;
    width: 179px;
    height: 152px;
	padding: 24px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--menu-bg);
    z-index: 10;
}