.ph-items {
    height: 1553px;
    margin-top: 400px;
    position: relative;

    &::before {
		content: "";
		position: absolute; 
		top: 1256px;
		right: 112px;
		width: 522px;
		height: 179px;
		background-image: url("./../img/icons/ph-desk.svg");
		background-repeat: no-repeat;
		background-size: cover;
        z-index: 1;
	}

    &::after {
		content: "";
		position: absolute; 
		top: 54px;
		right: -67px;
		width: 410px;
		height: 1553px;
		background-image: url("./../img/bg/bg_astro-right_02.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.stars-items {
    height: 1553px;
    margin-top: 710px;
    position: relative;

    &::before {
		content: "";
		position: absolute; 
		top: 0;
		left: -67px;
		width: 459px;
		height: 1553px;
		background-image: url("./../img/bg/bg_astro-left_04.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

    &::after {
		content: "";
		position: absolute; 
		top: 20px;
		right: -67px;
		width: 400px;
		height: 1203px;
		background-image: url("./../img/bg/bg_astro-right_03.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.stars-items__linears {
    position: relative;

    &::before {
		content: "";
		position: absolute; 
		top: 0;
		right: -67px;
		width: 542px;
		height: 453px;
		background-image: url("./../img/bg/bg_linear-top_astro-right_03.svg");
		background-repeat: no-repeat;
		background-size: cover;
        z-index: 1;
	}

    &::after {
        content: "";
        position: absolute; 
        top: 780px;
        right: -67px;
        width: 542px;
        height: 453px;
        transform: rotate(180deg);
        background-image: url('./../img/bg/bg_linear-top_astro-right_03.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }
}

.stars-items__icons {
    position: relative;

    &::before {
		content: "";
		position: absolute; 
		top: 950px;
		left: -67px;
		width: 811px;
		height: 500px;
		background-image: url("./../img/icons/linear_bg.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

    &::after {
		content: "";
		position: absolute; 
		top: 650px;
		left: 43%;
		width: 494px;
		height: 318px;
		background-image: url("./../img/icons/stars-desk.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (max-width: 1439px) {
	.ph-items {

		&::before {
			top: 880px;
			right: 0;
			width: 344px;
			height: 109px;
			background-image: url("./../img/icons/ph-tabl.svg");
			z-index: 2;
		}

		&::after {
			top: 80px;
			right: -36px;
			width: 410px;
			height: 1553px;
			background-image: url("./../img/bg/tabl-bg_astro-right_02.svg");
			z-index: 1;
		}
	}

	.ph-items__ellipses {
		position: relative;

		&::before {
			content: "";
			position: absolute; 
			top: 460px;
			right: 96px;
			width: 428px;
			height: 428px;
			background-image: url("./../img/icons/tabl-ellips_ph-left.svg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 2;
		}

		&::after {
			content: "";
			position: absolute; 
			top: 620px;
			right: -120px;
			width: 428px;
			height: 428px;
			background-image: url("./../img/icons/tabl-ellips_ph-left.svg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 2;
		}
	}

	.ph-items__stars {
		position: relative;

		&::before {
			content: "";
			position: absolute; 
			top: 586px;
			left: 76px;
			width: 247px;
			height: 402px;
			background-image: url("./../img/icons/tabl-stars_ph-left.svg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 2;
		}

		&::after {
			content: "";
			position: absolute; 
			top: 510px;
			right: 10px;
			width: 411px;
			height: 318px;
			background-image: url("./../img/icons/tabl-stars_ph-right.svg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 2;
		}
	}

	.stars-item__bg-top {
		position: relative;

		&::before {
			content: "";
			position: absolute; 
			top: -1320px;
			left: -36px;
			width: 335px;
			height: 1139px;
			background-image: url("./../img/bg/tabl-bg_astro-left_02.svg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.stars-items {
		height: 700px;

		&::before {
			top: 0;
			left: -36px;
			width: 339px;
			height: 729px;
			background-image: url("./../img/bg/tabl-bg_astro-left_03.svg");
		}

		&::after {
			top: -784px;
			right: -36px;
			width: 345px;
			height: 1335px;
			background-image: url("./../img/bg/tabl-bg_astro-right_03.svg");
		}
	}

	.stars-items__linears {

		&::before {
			content: none;
		}

		&::after {
			top: 232px;
			right: -36px;
			width: 347px;
			height: 319px;
			background-image: url("./../img/bg/tabl-bg_linear-top_astro-right_02.svg");
		}
	}

	.stars-items__icons {
    position: relative;

		&::before {
			content: none;
		}

		&::after {
			top: -56px;
			left: 32%;
			width: 384px;
			height: 248px;
			background-image: url("./../img/icons/stars-tabl.svg");
			z-index: 1;
		}
	}
}

@media (max-width: 930px) {
	.ph-items {
		height: 1137px;

		&::before {
			top: 50px;
			left: -17px;
			width: 197px;
			height: 1137px;
			background-image: url("./../img/bg/mob-bg_astro-left_02.svg");
		}

		&::after { 
			top: 20px;
			right: -17px;
			width: 221px;
			height: 1066px;
			background-image: url("./../img/bg/mob-bg_astro-right_02.svg");
		}
	}

	.ph-items__linears,
	.ph-items__ellipses,
	.ph-items__stars,
	.stars-item__bg-top,
	.stars-items__icons {

		&::before,
		&::after {
			content: none;
		}
	}

	.stars-items {
		height: 2290px;
		
		&::before {
			top: -650px;
			left: -17px;
			width: 215px;
			height: 729px;
			background-image: url("./../img/bg/mob-bg_astro-left_03.svg");			
		}

		&::after {
			top: 1378px;
			left: 39px;
			width: 245px;
			height: 158px;
			background-image: url("./../img/icons/stars-mob.svg");
		}
	}
}

